{% load static %}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div id="content" dir="rtl">
            {% block content %}
            {% endblock %}
        </div>
        <header id="sidebar" dir="rtl">
            <h2>بلاگ جنگو</h2>
            <p>به بلاگ جنگو خوش آمدید</p>
        </header>
{#    <main>#}
{#        <section>#}
{#            #}
{#        </section>#}
{#    </main>#}
    </body>
</html>